@font-face {
    font-family: 'Logisoso';
    src: url('/fonts/Logisoso.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    --yellow: #ffcd47ff;
    --yellow-transparent: #ffce4775;
    --red: #ff6b6b;
    /* --red: rgba(255, 255, 255, 0.479); */
    user-select: none;
}

*:focus-visible {
    outline: 2px dashed var(--yellow);
    outline-offset: 4px;
}

body {
    margin: 20px;
    background-color: black;
    color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    justify-items: stretch;
    font-family: 'Inter', sans-serif;
    font-feature-settings: "case", "ss02", "ss03", "ss04", "tnum", "calt" 0;
}

.logo {
    height: 50px;
}

/* left bar containing list of devices, yellow border */
.device-container {
    margin-top: 20px;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.devices-header {
    font-weight: 600;
    margin-block-end: 1em;
}

.device-list {
    display: flex;
    flex-grow: 1;
}

.add-device-container {
    display: flex;
    align-items: flex-start;
}

.add-device-button {
    all: unset;
    border: 1px dashed var(--yellow);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .add-device-button:focus-visible {
        outline: 2px dashed var(--yellow);
        outline-offset: 4px;
    }

    .add-device-button:hover {
        background-color: var(--yellow);
        color: black;
    }

serial-devices {
    display: flex;
    align-items: flex-start;
}

serial-device {
    padding: 10px;
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    border: 1px solid var(--yellow);
    grid-gap: 10px;
    margin-right: 10px;
}
    
    .device-row {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        grid-gap: 10px;
        border-bottom: 1px solid var(--yellow-transparent);
        padding-bottom: 5px;
    }

    serial-device .model-image {
        grid-column: 1;
        width: 50px;
        height: 50px;
    } 

    serial-device .device-info {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        grid-gap: 5px;
        align-content: center;
    }

    serial-device .device-info .serial-number {
        font-size: 8px;
        opacity: 0.5;
    }

@keyframes marching-ants {
    0% {
        background-position: 0 0, 0 100%, 0 0, 100% 0;
    }
    100% {
        background-position: 14px 0, -14px 100%, 0 -14px, 100% 14px;
    }
}

    serial-device.discovering {
        display: block;
        text-align: center;
        opacity: 0.5;        
        border:none;
        background-size: 7px 1px, 7px 1px, 1px 7px, 1px 7px;
        background-position: 0 0, 0 100%, 0 0, 100% 0;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        animation: marching-ants 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-image:   linear-gradient(to right, var(--yellow) 50%, transparent 50%),
                            linear-gradient(to right, var(--yellow) 50%, transparent 50%),
                            linear-gradient(to bottom, var(--yellow) 50%, transparent 50%),
                            linear-gradient(to bottom, var(--yellow) 50%, transparent 50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    serial-device.unknown-device {
        text-align: center;
        border: 1px solid var(--red);
        color: var(--red);
        display: flex;
        justify-content: center;
        align-items: center;
    }

.warning-icon {
    font-size: 20px;
}

.device-actions {
    all: unset;
    grid-column: 3;
    border-left: 1px dashed var(--yellow-transparent);
    cursor: pointer;
    display: flex;
    justify-self: end;
    padding: 7px;
}

    .device-actions:focus-visible {
        outline: 2px dashed var(--yellow);
        outline-offset: 4px;
    }

    .device-actions:hover {
        background-color: var(--yellow);
    }

    .device-actions .forget path {
        stroke: var(--yellow);
        fill: transparent;
    }

    .device-actions:hover .forget path {
        stroke: black;

    }

.device-actions .forget {
    width: 20px;
}

.params-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.out-container {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content 1fr min-content 1fr min-content 1fr;
    grid-gap: 10px;
    align-items: baseline;
    border-right: 1px solid var(--yellow-transparent);
    padding-right: 10px;
}

.out-value {
    font-size: 28px;
    font-family: 'Logisoso';
    font-size: 48px;
    text-align: end;
}

.out-label {
    grid-column: 1;
    font-size: 14px;
    font-weight: bold;
    color: var(--yellow-transparent);
}

.out-mode {
    grid-column: 2;
    width: 20px;
    height: 16px;
    background-color: var(--yellow);
    align-self: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Logisoso';
    text-align: center;
    opacity: 0;
}

.out-unit {
    font-size: 18px;
    opacity: 0.7;
    font-weight: bold;
    text-align: center;
    grid-column: 2;
}

.set-container {
    grid-column: 2;
    grid-row: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    margin-right: 10px;
}

.set-label {
    display: grid;
    justify-content: center;
    color: var(--yellow-transparent);
}

.set-label div {
    font-weight: bold;
    width: min-content;
    font-size: 12px;
    padding: 1px 3px;
}

.vset-label {
}

.iset-label div {
}

.iset-label {
    grid-column: 2;
    grid-row: 1;
}

.vset-container, .iset-container {
    display: grid;
    grid-template-columns: min-content min-content;
    position: relative;
    margin-top: 4px;
}

.vset-ticks, .iset-ticks {
    display: grid;
    align-items: center;
    justify-items: end;
    align-content: space-between;
    font-family: 'Logisoso';
    color: var(--yellow-transparent);
    padding-top: 7px;
    padding-bottom: 4px;
}

.vset-ticks {
    grid-column: 1;
    margin-right: -20px;
    padding-left: 14px;
}

.iset-ticks {
    grid-column: 2;
    margin-left: -23px;
    padding-right: 24px;
}

.vert-slider {
    grid-row: 1;
    appearance: none;
    background-color: transparent;
    cursor: row-resize;
}

.vert-slider:disabled {
    cursor: not-allowed;
}

.vert-slider.left {
    grid-column: 2;
    padding-left: 65px;
    margin-left: -25px;
    writing-mode: vertical-rl;
}

.vert-slider.right {
    grid-column: 1;
    padding-right: 65px;
    margin-right: -25px;
    writing-mode: vertical-lr;
}

.vert-slider::-webkit-slider-runnable-track {
    width: 4px;
    background-color: var(--yellow-transparent);
    padding-top: 8px;
}

.vset-slider::-webkit-slider-runnable-track {
    padding-bottom: 21px;
}

.iset-slider::-webkit-slider-runnable-track {
    padding-bottom: 8px;
}

.vert-slider:enabled:hover::-webkit-slider-runnable-track {
    background-color: var(--yellow);
}

.vert-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 10px;
    background-color: var(--yellow);
}

.range-value {
    position: absolute;
    background: var(--yellow);
    width: 60px;
    height: 24px;
    pointer-events: none;
    display: flex;
}

.range-value.right {
    right: 0;
}

.range-value span {
    flex-grow: 1;
    line-height: 20px;
    border:1px solid black;
    color: black;
    display: block;
    font-family: 'Logisoso';
    margin: 1px;
}

.range-value.left span {
    text-align: right;
    padding-right: 4px;
}

.range-value.right span {
    text-align: left;
    padding-left: 4px;
}

.range-value span:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    top: calc(50% + 0.2px);
    background-color: black;
    margin-left: -5px;
    margin-top: -1px;
}

.range-value.left span:before {
    right: -16px;
}

.range-value.right span:before {
    left: -11px;
}

.states {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    border-top: 1px solid var(--yellow-transparent);
}

    .state {
        all: unset;
        padding-top: 6px;
        flex-grow: 1;
        border-right: 1px solid var(--yellow-transparent);
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        align-content: space-evenly;
        cursor: pointer;
    }

    .state:focus-visible {
        outline: 2px dashed var(--yellow);
        outline-offset: 4px;
    }

    .state:last-child {
        border-right: none;
    }

    .state:hover {
        background-color: var(--yellow-transparent);
    }

    .state.active {
        background-color: var(--yellow);
        color: black;
        border-right: 1px solid black;
    }

    .state.active .state-name {
        color: black;
        opacity: 0.7;
    }

    .state-name {
        font-size: 12px;
        color: var(--yellow-transparent);
        grid-column: 1;
        grid-row: 1;
        font-weight: bold;
    }

    .state-value {
        font-family: 'Logisoso';
        font-size: 28px;
        grid-column: span 2;
        grid-row: 2;
    }

.lock-value-img {
    padding-top:5px;
}